/gestion-exception/nbproject/private/
/gestion-exception/build/
/gestion-fichiers/nbproject/private/
/gestion-fichiers/build/
/Serialisation/nbproject/private/
/Serialisation/build/
/Serialisation/dist/
/gestion-fichiers/dist/
/swing1/nbproject/private/
/swing1/build/
/swing1/dist/
/SwingExo1/nbproject/private/
/SwingExo1/build/
/SwingExo1/dist/
/BindingJAXB/target/
/demineur/nbproject/private/
/demineur/build/
/demineur/dist/
/jdbc1/nbproject/private/
/jdbc1/build/
/jdbc1/dist/
/jpa/nbproject/private/
/jpa/build/
/jpa/dist/
/myTraining/nbproject/private/
/myTraining/build/
/myTraining/dist/
/poo1/Serialisation/build/
/poo1/Serialisation/dist/
/poo1/Serialisation/nbproject/private/
/jpa1/nbproject/private/
/jpa1/build/
/jpaV2/build/
/jpaV2/dist/
/jpaV2/nbproject/private/
